.font-lato{
    font-family: 'Lato', 'Muli', 'Montserrat', sans-serif;
}

.font-muli{
    font-family: 'Muli', 'Montserrat', sans-serif;
}

.font-montserrat{
    font-family: 'Montserrat', 'Roboto', sans-serif;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}